html body {
  margin: 0;
  padding: 0;
  font-size: 12;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1080px;
  margin: auto
}

.code {
  align-self: center;
  align-content: center;
  justify-content: center;
  flex: 50%;
  overflow: auto;
}

.logol {
  text-decoration: none;
  font-size: auto;
}

.body {
  flex: 50%
}

.topnav {
  background-color: #333;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  font-family: monospace;
}

.topnav a {
  border-right: 1px solid #251f2b;
  float: left;
  display: block;
  color: #f0e8ff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 12px;
}

.toc-dropdown {
  border-right: 1px solid #251f2b;
  float: left;
  overflow: hidden;
}

.toc-dropdown .toc-btn {
  font-size: 12px;
  float: inline-start;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .toc-dropdown:hover .toc-btn {
  background-color: #251f2b;
}

.toc {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.toc a {
  float: none;
  color: white;
  padding: 2px 8px;
  font-family:monospace;
  text-decoration: none;
  display: block;
  text-align: left;
}

.toc a:hover {
  background-color: #251f2b;
}

.toc-dropdown:hover .toc {
  display: block;
}

.topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.topnav ul li {float: left;}

.topnav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
