<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>A Tour of Standard ML</title>
  <link rel="stylesheet" href="/css/default.css" />
  <link rel="stylesheet" href="/css/code.css">
  <link rel="shortcut icon" type="image/x-icon" href="/etc/favicon.ico"/>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script>
    document.onkeydown = function navArrow(evt) {
      switch (evt.keyCode) {
        case 37:
          window.location.href = document.getElementById("prevpage").href
          break
        case 39:
          window.location.href = document.getElementById("nextpage").href
          break
      }
    }
    /* https://www.w3schools.com/howto/howto_js_responsive_navbar_dropdown.asp */
    function topNavResponsive() {
      var x = document.getElementById("tournav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    } 
  </script>
</head>

<body>
  <div class="topnav" id="tournav">

    <div class="logol">
      <a href="/">λ</a>
    </div>

    <div class="logo">
      <a href="/">A Tour of Standard ML</a>
    </div>
    $if(previousPageNum)$<div>
    $else$<div class="disabled">
    $endif$$if(previousPageNum)$  <a href="$previousPageUrl$" id="prevpage">
    $else$<a href="#">
    $endif$    <span aria-hidden="true">↤</span>
      </a>
    </div>

    <div class="toc-dropdown">
      <button class="toc-btn">Table of Contents
        <i class="fa fa-caret-down"></i>
      </button>
      $partial("templates/tour-index.html")$
    </div>

    $if(nextPageNum)$<div>
    $else$<div class="disabled">
    $endif$$if(nextPageNum)$  <a href="$nextPageUrl$" id="nextpage">
    $else$<a href="#">
    $endif$     <span aria-hidden="true">↦</span>
          </a>

    </div>
  </div>

  <div class="row">
    $body$
  </div>
</body>
</html>